.login-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin: 20px;
    cursor: pointer;
}

.nav-section{
    display: flex;
    justify-content: center;
}

.menu-area{
    display: flex;
    justify-content: center;
    position: relative;
}

.menu-list{
    display:flex;
    list-style-type: none;
}

.menu-list li{
    padding:10px
}

.search-area{
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
    padding: 10px;
}

.search-area input[type='text']{
    border: none;
    border-bottom: 1px solid black;
}

.product-img{
    display: flex;
    justify-content: flex-end;
}